<div ng-controller="MovieFileController">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="span1"></th>
                <th class="span5">Movie</th>
                <th class="span8">Movie Files</th>
            </tr>
        </thead>

        <tr ng-repeat="movieFile in movieGroupFile.movieFiles">
            <td>

                <span class="input-group-addon">
                    <input type="checkbox" ng-model="movieFile.requiresMove" ng-checked="movieFile.requiresMove">
                </span>
            </td>
            <td ng-bind="movieFile.fileName"></td>
            <td ng-bind="movieFile.location"></td>
        </tr>
    </table>
    <div class="input-append">
        <select class="form-control" ng-model="movGroupName.selected" ng-options="movieGroup.movieGroupName for movieGroup in movieGroups">
        </select>
        <input type="text" ng-model="search" class="search-query" style="width: 80px">
        <br />
        <button type="submit" class="btn" ng-click="assignMovieGroup()">Assign</button>
        <button type="submit" class="btn">New</button>
    </div>
</div>
